/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
}

.login-container, .success-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 20px;
}

h2, h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Añadido para el botón de redirección */
}

button:hover {
    background-color: #45a049;
}

.error-msg {
    color: red;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
}

footer p {
    margin: 0;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 600px) {
    .login-container, .success-container {
        width: 90%;
    }
}